In [2]:
##KATA 1
SELECT  
description, 
date(created_at) as day,
count(*) as count
FROM events
WHERE name='trained'
GROUP BY (name, day, description)
ORDER BY day

In [ ]:
##KATA 2
SELECT capital 
FROM countries 
WHERE country LIKE 'E%' AND continent IN ('Africa', 'Afrika') 
ORDER BY capital ASC 
LIMIT 3;

In [ ]:
##KATA 3
SELECT 
  date(s.transaction_date) as day,
  d.name as department,
  COUNT(s.id) as sale_count
  FROM department d
  INNER JOIN sale s on d.id = s.department_id
  GROUP BY day, department
  ORDER BY day asc;