In [1]:
''''select player_name,
games, 
CAST(ROUND(batting_average:: numeric, 3) AS text) AS batting_average
from 
(select 
player_name, 
games,
cast(hits as decimal)/cast(at_bats as decimal) as batting_average
from yankees
where at_bats >= 100
order by batting_average desc)as a;

SyntaxError: invalid syntax (2053325596.py, line 1)

In [ ]:
''''select player_name,
games, 
round ((batting_average, 3) as text) as batting_average
from 
(select 
player_name, 
games,
cast(hits as decimal)/(cast(at_bats as decimal) as batting_average
from yankees
where at_bats >= 100
order by batting_average des) as a'''